<form action="/category/create" method="post">
  <p>
    <h1>商品名</h1>
    <input type="text" name="namme"/>
  </p>

  <p>
    <h1>logo</h1>
    <input type="file" name="logo"/>
  </p>

  <p>
    <input type="submit" value="提交"/>
  </p>
</form>